.btn {
  display: inline-block;
  border-radius: 6px;
  font-size: inherit;
  color: #fff;
  transition: 150ms linear;
  padding: 10px 30px;
  margin-top: 1.5rem;
  text-align: center;
  cursor: pointer;
  border: 1px solid;

  &:hover, 
  &:visited, 
  &:focus {
    background-color: var(--color-btn-hover);
    color: white;
  }
}

.btn-primary {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}

.btn-primary.outline {
  background-color: transparent;
  color: var(--color-blue);
  border-color: var(--color-blue);
}

.btn-white {
  background-color: white;
  border-color: white;
}

.btn-lg {
  line-height: 1.11;
  padding: 18px 30px;
}