<footer class="main-footer">
  <div class="container grid">
    <div class="grid-item">
      <div class="menu-box">
        <h6>Why Bitly?</h6>
        <ul class="menu-list unstyled">
          <li><a href="#">Bitly 101</a></li>
          <li><a href="#">Integrations & API</a></li>
          <li><a href="#">Enterprise Class</a></li>
          <li><a href="#">Pricing</a></li>
        </ul>
      </div>
    </div>
    <div class="grid-item">
      <div class="menu-box">
        <h6>Solutions</h6>
        <ul class="menu-list unstyled">
          <li><a href="#">Social Media</a></li>
          <li><a href="#">Digital Marketing</a></li>
          <li><a href="#">Customer Service</a></li>
          <li><a href="#">For Developers</a></li>
        </ul>
      </div>
      <div class="menu-box">
        <h6>Features</h6>
        <ul class="menu-list unstyled">
          <li><a href="#">Link Management</a></li>
          <li><a href="#">Branded Links</a></li>
          <li><a href="#">Mobile Links</a></li>
          <li><a href="#">Campaign</a></li>
          <li><a href="#">Management & Analytics</a></li>
          <li><a href="#">QR Codes</a></li>
        </ul>
      </div>
    </div>
    <div class="grid-item">
      <div class="menu-box">
        <h6>Resources</h6>
        <ul class="menu-list unstyled">
          <li><a href="#">Blog</a></li>
          <li><a href="#">Resource Library</a></li>
          <li><a href="#">Developers</a></li>
          <li><a href="#">Support</a></li>
        </ul>
      </div>
      <div class="menu-box">
        <h6>Legal</h6>
        <ul class="menu-list unstyled">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>
      </div>
    </div>
    <div class="grid-item">
      <div class="menu-box">
        <h6>Company</h6>
        <ul class="menu-list unstyled">
          <li><a href="#">About Bitly</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Partners</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Reviews</a></li>
        </ul>
      </div>
    </div>
    <div class="grid-item">
      <img src="https://docrdsfx76ssb.cloudfront.net/static/1640018035/pages/wp-content/uploads/2021/08/bitly_logo.svg" alt="Bitly logo" width="84px">
      <p class="copyright text-sm mt-2">© 2021 Bitly | Handmade in San Francisco, Denver, New York City, Bielefeld, and all over the world.</p>
      <div class="social">
        <ul class="social-list unstyled">
          <li><%= image_tag "fa-icons/brands/twitter.svg", width: '30', alt: "Twitter logo" %></li>
          <li><%= image_tag "fa-icons/brands/instagram.svg", width: '30', alt: "Instagram logo" %></li>
          <li><%= image_tag "fa-icons/brands/linkedin.svg", width: '30', alt: "LinkedIn logo" %></li>
          <li><%= image_tag "fa-icons/brands/facebook-square.svg", width: '30', alt: "Facebook logo" %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>