<header class="main-header">
  <div class="container">
    <nav class="main-nav grid">
      <div class="logo">
        <a href="https://bitly.com">
          <img src="https://docrdsfx76ssb.cloudfront.net/static/1637680286/pages/wp-content/uploads/2021/08/bitly_logo.svg" class="" alt="Bitly Logo" width="120">
        </a>
      </div>
      <div class="mobile-menu-icon">
        
      </div>
      <div class="main-menu">
        <ul class="menu-list unstyled">
          <li class="menu-item"><a href="#">Why Bitly?</a></li>
          <li class="menu-item"><a href="#">Solutions</a></li>
          <li class="menu-item"><a href="#">Features</a></li>
          <li class="menu-item"><a href="#">Pricing</a></li>
          <li class="menu-item"><a href="#">Resources</a></li>
        </ul>
      </div>
      <div class="account-menu">
        <ul class="menu-list unstyled">
          <li class="menu-item"><a href="#">Login</a></li>
          <li class="menu-item"><a href="#">Sign up Free</a></li>
          <li class="menu-item"><a href="btn btn-primary">Get a Quote</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>

