.hero {
  min-height: 650px;
  background-repeat: no-repeat;
  background-position: 56% 0;
  display: flex;
  align-items: center;
}

.hero .grid {
  @include min-lg {
    grid-template-columns: 60% 40%;
  }
}

.hero .grid-item:nth-child(2) {
  @include min-lg {
    order: 1;
  }
}

.hero .content {
  z-index: 2;
}

.hero .btn-wrap {
  @include min-lg {
    display: inline-block;
  }
}

.hero .btn {
  width: 100%;
}

.hero small {
  @include min-lg {
    text-align: center;
  }
}

.hero .image-box {
  position: relative;
  direction: rtl;
  order: 2;
}

.hero img {
  @include min-lg {
    max-width: 170%;
    margin-right: -100px;
  }
  @include min-custom(75rem) {
    margin-right: -180px;
  }
}

.shorten {
  background-color: var(--color-dark-blue);
}