.grid {
  display: grid;
  grid-gap: 15px;
}

@for $i from 1 through 12 {
  .grid-col-#{$i} {
    grid-column: span #{$i};
  }
  .grid-row-#{$i} {
    grid-row: span #{$i};
  }
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}