/* Sass Variables */

$bp-xs: 0;
$bp-sm: 36rem;     // 576px
$bp-md: 48rem;     // 768px
$bp-lg: 62rem;     // 992px
$bp-xl: 75rem;     // 1200px
$bp-xxl: 87.5rem;  // 1400px

/* CSS Custom Properties */

:root {
  --text-xxs:    .625rem;    // 10px
  --text-xs:     .75rem;     // 12px
  --text-sm:     .875rem;    // 14px
  --text-base:   1rem;       // 16px
  --text-lg:     1.3125rem;  // 21px
  --text-xl:     1.5625rem;  // 25px
  --text-xxl:    1.875rem;   // 30px
  --text-xxxl:   2.1875rem;  // 35px
  --text-xxxxl:  2.5rem;     // 40px

  --space-0: 0;
  --space-xxxs: .3125rem;  // 5px
  --space-xxs:  .625rem;   // 10px
  --space-xs:   .9375rem;  // 15px
  --space-sm:   1.25rem;   // 20px
  --space-md:   1.875rem;  // 30px
  --space-lg:   2.5rem;    // 40px
  --space-xl:   3.125rem;  // 50px
  --space-xxl:  3.75rem;   // 60px
  --space-xxxl: 5rem;      // 80px

  @media (min-width: $bp-lg) {
    --text-xxs:    .875rem;    // 14px
    --text-xs:     1rem;       // 16px
    --text-sm:     1.125rem;   // 18px
    --text-base:   1.3125rem;  // 21px
    --text-lg:     1.5rem;     // 24px
    --text-xl:     2rem;       // 32px
    --text-xxl:    2.5rem;     // 40px
    --text-xxxl:   3rem;       // 48px
    --text-xxxxl:  3.75rem;    // 60px

    --space-lg:   3.125rem;  // 50px
    --space-xl:   5rem;      // 80px
    --space-xxl:  6.25rem;   // 100px
    --space-xxxl: 7.5rem;    // 120px
  }

  --heading-line-height: 1;
  --body-line-height: 1.4;

  --color-blue: #2a5bd7;
  --color-text: #252628;

  --color-link: #2a5bd7;
  --color-link-hover: #13285e;

  --color-btn-hover: #0236b9;
}