.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mx-1 {
  margin: 0 var(--space-xxxs);
}
.mx-2 {
  margin: 0 var(--space-xxs);
}
.mx-3 {
  margin: 0 var(--space-xs);
}
.mx-4 {
  margin: 0 var(--space-sm);
}
.mx-5 {
  margin: 0 var(--space-md);
}
.mx-6 {
  margin: 0 var(--space-lg);
}
.mx-7 {
  margin: 0 var(--space-xl);
}
.mx-8 {
  margin: 0 var(--space-xxl);
}
.mx-9 {
  margin: 0 var(--space-xxxl);
}

.my-1 {
  margin: var(--space-xxxs) 0;
}
.my-2 {
  margin: var(--space-xxs) 0;
}
.my-3 {
  margin: var(--space-xs) 0;
}
.my-4 {
  margin: var(--space-sm) 0;
}
.my-5 {
  margin: var(--space-md) 0;
}
.my-6 {
  margin: var(--space-lg) 0;
}
.my-7 {
  margin: var(--space-xl) 0;
}
.my-8 {
  margin: var(--space-xxl) 0;
}
.my-9 {
  margin: var(--space-xxxl) 0;
}

.px-1 {
  padding: 0 var(--space-xxxs);
}
.px-2 {
  padding: 0 var(--space-xxs);
}
.px-3 {
  padding: 0 var(--space-xs);
}
.px-4 {
  padding: 0 var(--space-sm);
}
.px-5 {
  padding: 0 var(--space-md);
}
.px-6 {
  padding: 0 var(--space-lg);
}
.px-7 {
  padding: 0 var(--space-xl);
}
.px-8 {
  padding: 0 var(--space-xxl);
}
.px-9 {
  padding: 0 var(--space-xxxl);
}

.py-1 {
  padding: var(--space-xxxs) 0;
}
.py-2 {
  padding: var(--space-xxs) 0;
}
.py-3 {
  padding: var(--space-xs) 0;
}
.py-4 {
  padding: var(--space-sm) 0;
}
.py-5 {
  padding: var(--space-md) 0;
}
.py-6 {
  padding: var(--space-lg) 0;
}
.py-7 {
  padding: var(--space-xl) 0;
}
.py-8 {
  padding: var(--space-xxl) 0;
}
.py-9 {
  padding: var(--space-xxxl) 0;
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: var(--space-xxxs);
}
.mt-2 {
  margin-top: var(--space-xxs);
}
.mt-3 {
  margin-top: var(--space-xs);
}
.mt-4 {
  margin-top: var(--space-sm);
}
.mt-5 {
  margin-top: var(--space-md);
}
.mt-6 {
  margin-top: var(--space-lg);
}
.mt-7 {
  margin-top: var(--space-xl);
}
.mt-8 {
  margin-top: var(--space-xxl);
}
.mt-9 {
  margin-top: var(--space-xxxl);
}

.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: var(--space-xxxs);
}
.mb-2 {
  margin-bottom: var(--space-xxs);
}
.mb-3 {
  margin-bottom: var(--space-xs);
}
.mb-4 {
  margin-bottom: var(--space-sm);
}
.mb-5 {
  margin-bottom: var(--space-md);
}
.mb-6 {
  margin-bottom: var(--space-lg);
}
.mb-7 {
  margin-bottom: var(--space-xl);
}
.mb-8 {
  margin-bottom: var(--space-xxl);
}
.mb-9 {
  margin-bottom: var(--space-xxxl);
}

.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: var(--space-xxxs);
}
.pt-2 {
  padding-top: var(--space-xxs);
}
.pt-3 {
  padding-top: var(--space-xs);
}
.pt-4 {
  padding-top: var(--space-sm);
}
.pt-5 {
  padding-top: var(--space-md);
}
.pt-6 {
  padding-top: var(--space-lg);
}
.pt-7 {
  padding-top: var(--space-xl);
}
.pt-8 {
  padding-top: var(--space-xxl);
}
.pt-9 {
  padding-top: var(--space-xxxl);
}

.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: var(--space-xxxs);
}
.pb-2 {
  padding-bottom: var(--space-xxs);
}
.pb-3 {
  padding-bottom: var(--space-xs);
}
.pb-4 {
  padding-bottom: var(--space-sm);
}
.pb-5 {
  padding-bottom: var(--space-md);
}
.pb-6 {
  padding-bottom: var(--space-lg);
}
.pb-7 {
  padding-bottom: var(--space-xl);
}
.pb-8 {
  padding-bottom: var(--space-xxl);
}
.pb-9 {
  padding-bottom: var(--space-xxxl);
}