.grid {
  display: grid;
  grid-gap: 20px;
  align-items: center;
}

@for $i from 1 through 12 {
  .grid-col-#{$i} {
    grid-column: span #{$i};
  }
  .grid-row-#{$i} {
    grid-row: span #{$i};
  }
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

ul.unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.bg-dark-blue {
  background-color: var(--color-dark-blue);
  color: white;
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.lead {
  font-size: var(--text-lg);
  opacity: .9;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}