.grid {
  display: grid;
  grid-gap: 1.25rem;
  align-items: center;
}

@for $i from 1 through 12 {
  .grid-col-#{$i} {
    grid-column: span #{$i};
  }
  .grid-row-#{$i} {
    grid-row: span #{$i};
  }
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

ul.unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.bg-dark-blue {
  background-color: var(--color-blue-dark);
  color: white;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}